.privacy
  %h3 プライバシーポリシー
  %p 本プライバシーポリシーは、Web programing skill check test （URL:https://web-skill-check-sheet.herokuapp.com/）（以下、「当サイト」と言います。）における、利用者（以下、「ユーザー」と言います。）に関する個人情報の保護及び適切な取り扱いについての方針を示したものです。
  %p 
  %h5 1.基本方針
  %p 当サイトは、ユーザーの個人情報を保護することが当サイトの事業活動の基本であるとともに、社会的責務と認識し、個人情報の取得、利用、管理を適正に行います。当サイトで収集した情報は、利用目的の範囲内で適切に取り扱います。
  %h5 2.適用範囲
  %p 本プライバシーポリシーは、当サイトにおいてのみ適用されます。 なお、当サイトにおいて、コメントの投稿、お問い合わせ、各サービスのお申し込みをした時点で、本プライバシーポリシーに同意されたものとみなします。
  %h5 3.個人情報の取得
  %p 当サイトで取得するユーザーの個人情報は次のとおりです。
  %p 
  %h6 3-1.ユーザー新規登録
  %p ユーザー新規登録ページから新規登録をした際、次の個人情報を取得します。
  %p ・ 名前（ハンドルネーム）
  %p ・ メールアドレス
  %p ・ プログラミング学習開始時期
  %h6 3-2.ユーザーチェックシート回答
  %p ユーザーが当サイトの各サービスページなどに設置されたお申し込みフォームから申し込みをした際、次の個人情報を取得します。
  %p ・ 回答内容
  %h6 3-3.コメント欄
  %p ユーザーが各記事ページの末尾などに設置されたコメント欄に投稿した際、次の個人情報を取得します。
  %p ・ 名前（ハンドルネーム）
  %p ・ メールアドレス
  %p ・ コメント内容
  %p 
  %h5 4.個人情報の利用
  %p 当サイトで取得した個人情報の利用目的は次のとおりです。
  %p ・ コメント欄の荒し対策やスパム検出に役立てるため。
  %p ・ コメントやお問い合わせに適時且つ正確に応答するため。
  %p ・ 当サイト内でコメントやお問い合わせ内容を引用して紹介させていただく場合もあります。
  %p ・ 各サービスに適時且つ正確に応対するため。
  %h5 5.個人情報の保存期間
  %p 当サイトに投稿されたコメント、各サービスに関する情報は無期限で保存されます。但し、当サイトの判断により、関する情報が不要となった場合には、速やかに削除されます。
  %h5 6.個人情報の管理
  %p 当サイトは、個人情報に関する法令、規範を遵守し、個人情報の管理責任者を置き、個人情報の保護に努めています。
  %p ・ 当サイトは、ユーザーの個人情報を安全且つ正確に管理し、個人情報への不正アクセス、紛失、破壊、改ざん及び漏洩などを防止するための措置を講じています。
  %p ・ 当サイトは、次に掲げる場合を除き、予めユーザーの同意を得ないで個人情報を第三者に提供いたしません。また、当サイトが個人情報の処理を外部へ委託する場合には、当サイトと同様に適切な管理を行うよう、契約によって義務付けています。
  %p ・ 個人情報保護に関する法律第23条第2項ないし同第4項の方法による場合
  %p ・ 法令などの規定に従い提供または開示する場合
  %p ・ 各種案内等を送付するにあたり、郵便局や宅配便会社に宛先を指定する場合
  %p ・ 当サイトは、ユーザーが、ユーザー本人の個人情報の開示、訂正、追加、削除、利用停止などを希望される場合、または、ユーザーに提供（送付）する各種案内の停止を希望される場合には、連絡を受け次第速やかに対応しています。
  %p ・ 当サイトは、個人情報に関して適用される法令、規範などを遵守するとともに、上記各項における個人情報の取扱いを監査し継続的に見直し、改善に努めています。
  %h5 7.プライバシーポリシーの変更について
  %p 当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本プライバシーポリシーの内容を適宜見直しその改善に努めます。改訂された最新の内容は常に本ページにて開示されます。
  %h5 8.お問い合わせ窓口
  %p Web programing skill check test  お問い合わせ：https://twitter.com/127haruki までDMにてお問い合わせください
  %p 2019年7月4日 策定