%main.row.justify-content-center.mx-0
  .col.jumbotron.text-center.bg-primary
    .col.jumbotron
      %h1 hello,world!
    .col.jumbotron.bg-transparent
      %p.lead.font-weight-bold hello,world!
%script{:src => "./js/jquery-3.3.1.min.js"}
%script{:src => "./js/bootstrap.bundle.min.js"}
